/* For Tablet View */
@media only screen and (min-width: 768px) {
    .hero {
        padding: 100px 0px;
    }
    .img-hero {
        width: 90%;
    }
    .text-title-hero {
        font-size: 2px;
        font-weight: 500;
    }
    .text-desc-hero {
        font-size: 16px;
        text-align: justify;
        line-height: 30px;
    }
    .text-btn-hero {
        background-color: #ca2026 !important;
    }
    .text-btn-hero:hover {
        background-color: #ae1c21 !important;
    }
    /* Hero */
}
